@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    align-items: center;  
}
 ::after, ::before {
    box-sizing: border-box;}
/* ===== Scrollbar CSS ===== */
  /* Firefox */ 
  * {
    scrollbar-width: auto;
    scrollbar-color:  #545454;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;

  }

  *::-webkit-scrollbar-track {
    background: #171717;
    
  }

  *::-webkit-scrollbar-thumb {
    background-color: #171717;
    border-radius: 10px;
    border: 3px solid #292929;
    
  }






body{
 /*background:linear-gradient(#F55050,#B9F3FC,#B05A7A,#93C6E7,aqua);*/
background-color: #171717;

}



/*Navbar*/


nav {
  height: 25%;
  width: 100%;
  background-color: #222222;
  opacity: 0.9;
  position: relative;
}

.logo img {
  left: 5px;
  position: relative;
  width: 3%;
  height: 40px;

}


nav .navlink {
  position: relative;
  text-align: center;
  width: 20%;
  height: 30px;
  display: flex;
  float: right;
  justify-content: center;
  align-items: center;
  bottom: 40px;
  right: 20px;
}

nav .navlink a {
  text-decoration: none;
  color: aliceblue;
  font-family: 'JetBrains Mono', monospace;
  margin-left: 10%;

}

nav .navlink a:hover {
  color: gray;
  transition: 0.4s;
}



.container{
  position: relative;
  width: 100%;
  margin-top: 100px;
  height: 500px;
  align-items: center;
  justify-content: center;
}

/* Part One  */


.one{
    position: relative;
    width: 50%;
    height: 200px;
    top: 110px;
    left: 20px;
    padding-top: 100px;
    padding-left: 30px;
    font-family: 'JetBrains Mono', monospace;
    text-shadow: 1px 1px 1px #545454;
    color: white;
    display: grid;

}
.one i{
    position: relative;
    margin-left: 130px;
    color:crimson;
    animation-name: example;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    text-shadow: 5px 5px 5px black;
    display: flex;
    
  
    
}

@keyframes example {
    0%   {left:0px; top:0px;}
    25%  { left:50px; top:0px;}
    50%  { left:50px; top:0px;}
    75%  { left:0px; top:0px;}
    100% { left:0px; top:0px;}
  }

.img {
position: relative;
width: 31%;
height: 400px;
left: 65%;
bottom: 10px;
border-radius: 20px 20px 40px;
display: flex;

}

.img img{
  border-radius: 20px;
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: #545454 5px 4px 5px;
  bottom: 90px;
}


/*Part Two  */



  #school_img{
    border-radius: 20px;
    margin-left: 50px;
    height: 450px;
    width: 35%;
    position: relative;
    box-shadow: 5px 5px 5px #545454;
  }


  .text{
    position: relative;
    border-radius: 40px;
    box-shadow: 5px 5px 5px #545454;
    width: 45%;
    height: 200px;
    margin-left: 55%;
    bottom: 350px;
    display: flex;
  }
  .text p{
    color: #F0EEED;
    padding: 40px;
    word-wrap: 20px;
    font-size:medium ;
    font-family: 'JetBrains Mono', monospace;
    text-shadow: 2px 2px 2px gray;
  }



  /*    box 3 text      */

  .text2{
    border-radius: 40px;
    width: 45%;
    height: 400px;
    position: relative;
    margin-top:60px;
    left: 20px;
    display: flex;
    box-shadow: 5px 5px 5px #545454;
  }
  .text2 p{
    color: #F0EEED;
   font-size: medium;
    padding: 50px;
    word-wrap: 20px;
    font-family: 'JetBrains Mono', monospace;
     text-shadow: 2px 2px 2px #545454;
  }

  .img2{
    position: relative;
    width: 31%;
    height: 400px;
    left: 60%;
    border-radius: 20px 20px 40px;
    display: flex;
    bottom: 400px;
  }

  .img2 img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    box-shadow: #545454 5px 4px 5px;
  }


 .btn{
  border: solid;
  width: 13%;
  height: 50px;
  padding-top: 10px;
  margin-top: 100px;
  position: relative;
  background-color: #000000;
  left: 30%;
  border-radius: 40px;
  text-align: center;

 }
 .btn a{
  text-decoration: none;
  color: whitesmoke;
 }

.btn:hover{
background-color: rgb(34, 33, 33);
transition: 0.5s;
}




  /*   Footer   */


footer{
position:relative;
width: 100%;
height: 200px;
margin-top: 200px;
background-color:#434242;
}





 



