@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    align-items: center;  
}
 ::after, ::before {
    box-sizing: border-box;}
/* ===== Scrollbar CSS ===== */
  /* Firefox */ 
  * {
    scrollbar-width: auto;
    scrollbar-color:  #545454;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;

  }

  *::-webkit-scrollbar-track {
    background: #171717;
    
  }

  *::-webkit-scrollbar-thumb {
    background-color: #171717;
    border-radius: 10px;
    border: 3px solid #292929;
    
  }






body{
 /*background:linear-gradient(#F55050,#B9F3FC,#B05A7A,#93C6E7,aqua);*/
background-color: #171717;

}



/*Navbar*/


nav{/*
   height: 50px;
   width: 1520px;*/
   height: 25%;
   width: 100%;
    background-color: #222222;
    opacity: 0.9;
   position: relative;
   display: grid;
 
 
}

nav .navlink{
    position: relative;
    text-align: center;
    width: 100px;
    height: 30px;
    float: right;
    padding-top: 5px;
    margin-top: 4px;
    margin-right: 50px;

   

}
nav .navlink a{
    text-decoration: none;
    color: aliceblue;
    font-family: 'JetBrains Mono', monospace;
    display: flex;

}

nav .navlink a:hover{
    color: gray;
    transition: 0.4s;
}

.logo img{
  left: 5px;
  position: relative;
  width: 40px;
  height: 40px;

}




/* Part One  */


.one{
    position: relative;
    width: 450px;
    height: 200px;
    top: 180px;
    left: 20px;
    padding-top: 100px;
    padding-left: 30px;
    font-family: 'JetBrains Mono', monospace;
    text-shadow: 1px 1px 1px #545454;
    color: white;
    display: grid;

}
.one i{
    position: relative;
    margin-left: 130px;
    color:crimson;
    animation-name: example;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    text-shadow: 5px 5px 5px black;
    display: flex;
    
  
    
}

@keyframes example {
    0%   {left:0px; top:0px;}
    25%  { left:50px; top:0px;}
    50%  { left:50px; top:0px;}
    75%  { left:0px; top:0px;}
    100% { left:0px; top:0px;}
  }

.img {
position: relative;
width: 500px;
height: 500px;
left: 790px;
bottom: 10px;
border-radius: 20px 20px 40px;
display: flex;
flex-direction: column;
}

.img img{
  border-radius: 20px;
  position: absolute;
  width: 400px;
  height: 400px;
  box-shadow: #545454 5px 4px 5px;
  display:flex;
  flex-wrap: wrap;
  bottom: 90px;
}

/*
.imgrgb{
 box-shadow: 5px 5px 5px black;
  border-radius: 20px;
position: absolute;
width: 410px;
height: 410px;
left: 845px;
top: 205px;
overflow: hidden;
z-index: -1;
background-color:#222222;
}

.imgrgb::before{
content: "";
position: absolute;
background: conic-gradient( 
  red,
  grey
);
height: 120%;
width: 120%;
animation: spin 10s infinite linear;
}


@keyframes spin{
  100%{
    transform: rotate(360deg);
  }
}*/











/*Part Two  */




/*
.yamuk{
   display:grid;
    position: relative;
    margin-left: 20px;
    margin-top: 60px;
    width:700px;
    height: 440px;
    transform: skew(20deg);
    background-color: #222222;
    z-index: 1;
    left: 75px;
  
  }
  */
  #school_img{
   border-radius: 20px;
   margin-top:100px;
   margin-left: 50px;
    height: 450px;
    width: 550px;
    position: relative;
    box-shadow: 5px 5px 5px #545454;
  }
/*
  .yamuk2{
    display: grid;
    position: relative;
    margin-left: 724px;
    bottom: 440px;
    width:700px;
    height: 440px;
    transform: skew(-20deg);
    background-color: #434242;
    z-index: -1;



  }*/

  .text{
    border-radius: 40px;
    box-shadow: 5px 5px 5px #545454;
    width: 600px;
    height: 200px;
    left:690px;
    bottom: 350px;
    position: relative;
  }
  .text p{
    color: #F0EEED;
   padding: 40px;
   word-wrap: 20px;
   font-size:medium ;
   font-family: 'JetBrains Mono', monospace;
      position: relative;
    text-shadow: 2px 2px 2px gray;
    
  }



  /*    box 3 text      */

  .text2{
    border-radius: 40px;
    width: 600px;
    height: 400px;
    position: relative;
    margin-top: 10px;
    top: 80px;
    left: 20px;
    margin-bottom: 400px;
    box-shadow: 5px 5px 5px #545454;
  }
  .text2 p{
    color: #F0EEED;
   font-size: medium;
    padding: 50px;
    word-wrap: 20px;
    font-family: 'JetBrains Mono', monospace;
     position: relative;
     text-shadow: 2px 2px 2px #545454;
  }



  .img2 img{
  border-radius: 20px;
   left: 780px;
   bottom: 735px;
    height: 450px;
    width: 550px;
    position: relative;
    box-shadow: 5px 5px 5px #545454;
  }


/* Buttons  

.links a i{    
                
  position: relative;    
  left: 50px;    
  color: #CFB997;   
  opacity: 0.9; 
  margin-left: 20px  ;
  left: 570px;
  margin-bottom: 150px;

 }  

.links a i:hover{     

 transform: scale(1.09);  
 transition: 0.3s;     
  color: #4C6793;           
 }
 
 
 
 
 
 
 <div class="links">                  
  <a target="_blank"  href="https://www.instagram.com/anilkayanda/">
   <i class="fa-brands fa-square-instagram fa-4x"></i> </a>           
   
   
 <a target="_blank" href="https://www.linkedin.com/in/an%C4%B1l-kayanda-046ab4240/"><i class="fa-brands fa-linkedin fa-4x"></i><a>           

     <a target="_blank" href="https://github.com/AnilKayanda"> 
       <i class="fa-brands fa-github fa-4x"></i> </a>    

         <a target="_blank" href="mailto:anilkayanda@gmail.com">
           <i class="fa-solid fa-envelope fa-4x"></i>
         </a>  </div> 
 
 
 
 
 
 
 
 */

 .btn{
  border: solid;
  width: 150px;
  height: 50px;
  padding-top: 10px;
  position: relative;
  background-color: #000000;
  left: 400px;
  bottom: 320px;
  border-radius: 40px;
  text-align: center;

 

 }
 .btn a{
  text-decoration: none;
  color: whitesmoke;
 
 }

.btn:hover{
background-color: rgb(34, 33, 33);
transition: 0.5s;
}



 .btn2{
  border: solid;
  width: 150px;
  height: 50px;
  padding-top: 10px;
  position: relative;
  background-color: #000000;
  margin-left: 600px;
  bottom: 369px;
  border-radius: 40px;
  text-align: center;
  
 

 }
 .btn2 a{
  text-decoration: none;
  color: whitesmoke;
 
 }
 
 .btn2:hover{
  background-color: rgb(34, 33, 33);
  transition: 0.5s;
  
  }

 .btn3{
  border: solid;
  width: 150px;
  height: 50px;
  padding-top: 10px;
  position: relative;
  background-color: #000000;
  margin-left: 800px;
  bottom: 420px;
  border-radius: 40px;
  text-align: center;
  
 

 }
 .btn3 a{
  text-decoration: none;
  color: whitesmoke;
 
 }

 .btn3:hover{
  background-color: rgb(34, 33, 33);
  transition: 0.5s;
  
  }












  /*   Footer   */





.footer{
position:relative;
bottom: 0;
right: 200px;
width: 1605px;
height: 400px;
background-color:#434242;
display:flex;

}





 



